
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #0d1730; /* Adjust the text color */
}

.nav-link::after {
  content: "";
  display: block;
  width: 0; /* Initially, set the width to 0 (hidden) */
  height: 2px; /* Adjust the thickness of the underline */
  background-color: #c40040; /* Adjust the color of the underline */
  position: absolute;
  bottom: -4px; /* Adjust the distance between text and underline */
  left: 0;
  transition: width 0.3s ease-out; /* Add a transition for a smooth effect */
}

.nav-link:hover::after {
  width: 100%; /* Expand the underline on hover */
}
.logo {
  margin-left: 14px;
}
.logos {
  margin-left: 6px;
  font-weight: bold;
  color: #c40040 !important;
}
.logos:hover {
  color: #c40040;
}
.navbar-nav {
  margin-left: 1px;
}
.nav-link .active {
  color: #0d1730;
  background-color: #c40040;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/* /////////// home /////// */
.home__title {
  font-weight: bold;
  margin-top: 150px;
  font-size: 49px;
}
.home__title-color {
  color: #c40040;
}
.dynamic-txt {
  list-style: none;
  margin-left: -32px;
 color: #000;
}
/*BUTTONS*/
.button {
  display: inline-block;
  background-color: #c40040;
  text-decoration: none;
  color: #fff;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  background-color: #000;
  color: #c40040;
}
.home__social {
  display: flex;
  flex-direction: row;
}
.home__social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: #0d1730;
  margin-top: 20px;
  padding: 9px;
}
.home__social-icon:hover {
  color: #c40040;
}
.home__img {
  right: 20px;
  bottom: 0px;
  width: 400px;
  margin-top: 130px;
}
.home__blob {
  fill: #cdcdcd;
}
.home__blob-img {
  width: 406px;
  left: 45%;
}

/* //////////////////about/////////////////// */
.about__container {
  row-gap: 2rem;

  margin-top: 90px;
}
.about__img {
  justify-self: center;
  margin-top: 70px;
}
.about__img img {
  width: 400px !important;
  border-radius: 0.5rem;
}
.section-title {
  position: relative;
  display: inline-block;
  color: #c40040; /* Text color */
  text-decoration: underline;
  font-weight: bold;
}

.section-title::after {
  content: "";
  display: block;
  height: 2px; /* Initial thickness of the underline */
  width: 0; /* Initial width of the underline */
  background-color: #c40040; /* Underline color */
  position: absolute;
  bottom: -4px; /* Adjust the distance between text and underline */
  left: 0;
  transition: width 0.3s ease-out; /* Add a transition for a smooth effect */
}
.banto {
  text-align: center !important;
}
.about__subtitle {
  font-weight: bold;
  margin-top: 132px;
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}

.skills__subtitle {
  margin-top: 80px;
}

.skills__text {
  margin-bottom: 1px;
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}

.skills__icon {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: #c40040;
}

.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #c40040;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 65%;
}

.skills__ux {
  width: 85%;
}

.skills__img {
  border-radius: 0.5rem;
  width: 358px;
  margin-top: 55px;
  margin-top: 55px !important;
}
.card-title {
  color: #c40040;
  font-weight: bold;
}
.btn {
  background-color: #c40040;
  color: #0d1730;
  font-weight: bold;
}
.btn:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
  background-color: #000;
  color: #c40040;
  font-weight: bold;
}
.card{
  margin: 10px;
}
.Profesional-Skills {
  margin-left: 35px;
}


.home__social1 {
  display: flex;
  flex-direction: row;
}
.home__social1-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: #000;
  margin-top: 20px;
  padding: 9px;
}
.home__social1-icon:hover {
  color: #fff;
}
@media only screen and (max-width: 767px) {
.hind {
  display: none;
}
.dynamic-txt {
  color: #000;
}

  .home__img {
  right: 20px;
  bottom: 0px;
  width: 400px;
  margin-left: -18px;
  margin-top: 46px;
}
  .banto {
    text-align: center !important;
    justify-content: center;
    margin-left: auto;
}
  .about__img img {
    width: 400px !important;
    border-radius: 0.5rem;
       margin-left: -25px;
}

  .card {
    margin: 10px;
    margin-left: 64px;
}
  .section-title {
    margin-left: 60px;
    position: relative;
    display: inline-block;
    color: #c40040;
    text-decoration: underline;
    font-weight: bold;
}
.skills__img {
  margin-left: -5px;
}

.card{
  width: 24rem;
  margin-left: 23px;
}
  .Profesional-Skills {
  margin-left: -11px;
}
.cd {
  width: 361px;
}

  
